/* estilos globales */
body{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    background-color:cadetblue;
}

/* titulos */
.register-title{
    font-size: 1.7rem;
}

.login-title{
    font-size: 1.7rem;
}

/* inputs del registro y login */

.input{
    width: 90%;
}

/* about el registro */

.register{
    text-align: center;
    background-color: rgba(240, 248, 255, 0.479);
    border-radius: 5%;
    width: 100%;
    max-width: 400px;
    margin: auto;
    padding: 0.4rem 0.4rem;
}

.btn-registro{
    border: none;
    border-radius: 5px;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

/* about el login */

.btn-login{
    border: none;
    border-radius: 5px;
    color: black;
    padding: 15px 32px;
    text-align: center;
    /* text-decoration: none;
    display: inline-block; */
    font-size: 16px;
    width: 100%;
    
}

.login{
    text-align: center;
    background-color: rgba(240, 248, 255, 0.479);
    border-radius: 5%;
    width: 110%;
    max-width: 400px;
    margin: auto;
    padding: 0.4rem 0.4rem;
}
